<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
			<key>boarcharacter_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{142.66666666666666,155.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142.66666666666666,155.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{142,155}</string>
			</dict>
			<key>boarcharacter_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{145.66666666666666,1},{142.66666666666666,155.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142.66666666666666,155.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{142,155}</string>
			</dict>
			<key>boarcharacter_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{290.3333333333333,1},{142.66666666666666,155.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142.66666666666666,155.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{142,155}</string>
			</dict>
			<key>boarcharacter_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1},{142.66666666666666,155.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142.66666666666666,155.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{142,155}</string>
			</dict>
			<key>boarcharacter_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{579.6666666666666,1},{142.66666666666666,155.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142.66666666666666,155.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{142,155}</string>
			</dict>
			<key>boarcharacter_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{724.3333333333333,1},{142.66666666666666,155.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142.66666666666666,155.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{142,155}</string>
			</dict>
			<key>boarcharacter_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{868.9999999999999,1},{142.66666666666666,155.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142.66666666666666,155.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{142,155}</string>
			</dict>
			<key>boarcharacter_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,158.33333333333334},{142.66666666666666,155.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142.66666666666666,155.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{142,155}</string>
			</dict>
			<key>boarcharacter_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{145.66666666666666,158.33333333333334},{142.66666666666666,155.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142.66666666666666,155.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{142,155}</string>
			</dict>
			<key>boarcharacter_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{290.3333333333333,158.33333333333334},{142.66666666666666,155.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142.66666666666666,155.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{142,155}</string>
			</dict>
			<key>boarcharacter_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,158.33333333333334},{176,223.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,223.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{176,223}</string>
			</dict>
			<key>boarcharacter_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,158.33333333333334},{176,223.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,223.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{176,223}</string>
			</dict>
			<key>boarcharacter_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,158.33333333333334},{176,223.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,223.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{176,223}</string>
			</dict>
			<key>boarcharacter_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,315.6666666666667},{176,223.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,223.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{176,223}</string>
			</dict>
			<key>boarcharacter_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,315.6666666666667},{176,223.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,223.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{176,223}</string>
			</dict>
			<key>boarcharacter_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,383.6666666666667},{176,223.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,223.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{176,223}</string>
			</dict>
			<key>boarcharacter_2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,383.6666666666667},{176,223.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,223.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{176,223}</string>
			</dict>
			<key>boarcharacter_2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,383.6666666666667},{176,223.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,223.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{176,223}</string>
			</dict>
			<key>boarcharacter_2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,541},{176,223.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,223.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{176,223}</string>
			</dict>
			<key>boarcharacter_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,541},{176,223.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,223.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{176,223}</string>
			</dict>
			<key>boarcharacter_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,609},{176,223.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,223.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{176,223}</string>
			</dict>
			<key>boarcharacter_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,609},{176,223.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,223.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{176,223}</string>
			</dict>
			<key>boarcharacter_4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,609},{180.66666666666666,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180.66666666666666,266}}</string>
				<key>sourceSize</key>
				<string>{180,266}</string>
			</dict>
			<key>boarcharacter_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,766.3333333333334},{180.66666666666666,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180.66666666666666,266}}</string>
				<key>sourceSize</key>
				<string>{180,266}</string>
			</dict>
			<key>boarcharacter_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{183.66666666666666,834.3333333333334},{180.66666666666666,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180.66666666666666,266}}</string>
				<key>sourceSize</key>
				<string>{180,266}</string>
			</dict>
			<key>boarcharacter_4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{366.3333333333333,834.3333333333334},{180.66666666666666,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180.66666666666666,266}}</string>
				<key>sourceSize</key>
				<string>{180,266}</string>
			</dict>
			<key>boarcharacter_4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,877},{180.66666666666666,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180.66666666666666,266}}</string>
				<key>sourceSize</key>
				<string>{180,266}</string>
			</dict>
			<key>boarcharacter_4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{731.6666666666666,877},{180.66666666666666,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180.66666666666666,266}}</string>
				<key>sourceSize</key>
				<string>{180,266}</string>
			</dict>
			<key>boarcharacter_4_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1034.3333333333335},{180.66666666666666,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180.66666666666666,266}}</string>
				<key>sourceSize</key>
				<string>{180,266}</string>
			</dict>
			<key>boarcharacter_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,383.6666666666667},{96.66666666666667,138.66666666666666}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96.66666666666667,138.66666666666666}}</string>
				<key>sourceSize</key>
				<string>{96,138}</string>
			</dict>

        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1012.6666666666665, 1301.3333333333335}</string>
            <key>textureFileName</key>
            <string>boarcharacter.png</string>
        </dict>
    </dict>
</plist>