<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
			<key>decoration_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{236.66666666666666,476.6666666666667}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{236.66666666666666,476.6666666666667}}</string>
				<key>sourceSize</key>
				<string>{236,476}</string>
			</dict>
			<key>decoration_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{239.66666666666666,1},{332.6666666666667,484.6666666666667}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{332.6666666666667,484.6666666666667}}</string>
				<key>sourceSize</key>
				<string>{332,484}</string>
			</dict>
			<key>decoration_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,479.6666666666667},{182.66666666666666,1051.3333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182.66666666666666,1051.3333333333333}}</string>
				<key>sourceSize</key>
				<string>{182,1051}</string>
			</dict>
			<key>dragon_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{185.66666666666666,487.6666666666667},{166.66666666666666,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166.66666666666666,146}}</string>
				<key>sourceSize</key>
				<string>{166,146}</string>
			</dict>
			<key>dragon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{354.3333333333333,487.6666666666667},{166.66666666666666,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166.66666666666666,146}}</string>
				<key>sourceSize</key>
				<string>{166,146}</string>
			</dict>
			<key>dragon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,487.6666666666667},{166.66666666666666,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166.66666666666666,146}}</string>
				<key>sourceSize</key>
				<string>{166,146}</string>
			</dict>
			<key>dragon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{574.3333333333334,1},{166.66666666666666,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166.66666666666666,146}}</string>
				<key>sourceSize</key>
				<string>{166,146}</string>
			</dict>
			<key>dragon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{574.3333333333334,149},{166.66666666666666,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166.66666666666666,146}}</string>
				<key>sourceSize</key>
				<string>{166,146}</string>
			</dict>
			<key>dragon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{574.3333333333334,297},{166.66666666666666,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166.66666666666666,146}}</string>
				<key>sourceSize</key>
				<string>{166,146}</string>
			</dict>
			<key>dragon_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{691.6666666666666,445},{166.66666666666666,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166.66666666666666,146}}</string>
				<key>sourceSize</key>
				<string>{166,146}</string>
			</dict>
			<key>fly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1},{220.66666666666666,130.66666666666666}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220.66666666666666,130.66666666666666}}</string>
				<key>sourceSize</key>
				<string>{220,130}</string>
			</dict>
			<key>fly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,133.66666666666666},{220.66666666666666,130.66666666666666}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220.66666666666666,130.66666666666666}}</string>
				<key>sourceSize</key>
				<string>{220,130}</string>
			</dict>
			<key>fly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,266.3333333333333},{220.66666666666666,130.66666666666666}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220.66666666666666,130.66666666666666}}</string>
				<key>sourceSize</key>
				<string>{220,130}</string>
			</dict>
			<key>fly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{691.6666666666666,593},{220.66666666666666,130.66666666666666}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220.66666666666666,130.66666666666666}}</string>
				<key>sourceSize</key>
				<string>{220,130}</string>
			</dict>
			<key>King_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{860.3333333333333,399},{195.33333333333334,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,104}}</string>
				<key>sourceSize</key>
				<string>{195,104}</string>
			</dict>
			<key>King_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{965.6666666666666,1},{195.33333333333334,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,104}}</string>
				<key>sourceSize</key>
				<string>{195,104}</string>
			</dict>
			<key>King_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{965.6666666666666,107},{195.33333333333334,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,104}}</string>
				<key>sourceSize</key>
				<string>{195,104}</string>
			</dict>
			<key>King_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{965.6666666666666,213},{195.33333333333334,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,104}}</string>
				<key>sourceSize</key>
				<string>{195,104}</string>
			</dict>
			<key>King_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{185.66666666666666,635.6666666666667},{195.33333333333334,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,104}}</string>
				<key>sourceSize</key>
				<string>{195,104}</string>
			</dict>
			<key>King_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,635.6666666666667},{195.33333333333334,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,104}}</string>
				<key>sourceSize</key>
				<string>{195,104}</string>
			</dict>
			<key>King_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{580.3333333333334,725.6666666666666},{195.33333333333334,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,104}}</string>
				<key>sourceSize</key>
				<string>{195,104}</string>
			</dict>
			<key>King_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{185.66666666666666,741.6666666666667},{195.33333333333334,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,104}}</string>
				<key>sourceSize</key>
				<string>{195,104}</string>
			</dict>
			<key>King_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,741.6666666666667},{195.33333333333334,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,104}}</string>
				<key>sourceSize</key>
				<string>{195,104}</string>
			</dict>
			<key>King_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{777.6666666666667,725.6666666666666},{195.33333333333334,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,104}}</string>
				<key>sourceSize</key>
				<string>{195,104}</string>
			</dict>
			<key>King_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{914.3333333333333,505},{195.33333333333334,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,104}}</string>
				<key>sourceSize</key>
				<string>{195,104}</string>
			</dict>
			<key>King_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057.6666666666665,319},{195.33333333333334,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,104}}</string>
				<key>sourceSize</key>
				<string>{195,104}</string>
			</dict>
			<key>King_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1163,1},{195.33333333333334,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,104}}</string>
				<key>sourceSize</key>
				<string>{195,104}</string>
			</dict>
			<key>princess_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1163,107},{140.66666666666666,97.33333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140.66666666666666,97.33333333333333}}</string>
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>princess_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1163,206.33333333333331},{140.66666666666666,97.33333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140.66666666666666,97.33333333333333}}</string>
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>princess_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{914.3333333333333,611},{140.66666666666666,97.33333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140.66666666666666,97.33333333333333}}</string>
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>princess_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{975.0000000000001,710.3333333333334},{140.66666666666666,97.33333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140.66666666666666,97.33333333333333}}</string>
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>princess_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111.6666666666665,425},{140.66666666666666,97.33333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140.66666666666666,97.33333333333333}}</string>
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>princess_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111.6666666666665,524.3333333333334},{140.66666666666666,97.33333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140.66666666666666,97.33333333333333}}</string>
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>princess_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{975.0000000000001,809.6666666666667},{140.66666666666666,97.33333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140.66666666666666,97.33333333333333}}</string>
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>princess_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{185.66666666666666,847.6666666666667},{140.66666666666666,97.33333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140.66666666666666,97.33333333333333}}</string>
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>princess_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{328.3333333333333,847.6666666666667},{140.66666666666666,97.33333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140.66666666666666,97.33333333333333}}</string>
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>princess_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,847.6666666666667},{140.66666666666666,97.33333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140.66666666666666,97.33333333333333}}</string>
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>princess_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{613.6666666666666,831.6666666666666},{140.66666666666666,97.33333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140.66666666666666,97.33333333333333}}</string>
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>

        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1359.3333333333333, 1532}</string>
            <key>textureFileName</key>
            <string>decoration.png</string>
        </dict>
    </dict>
</plist>