<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
			<key>CR-Logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{195.33333333333334,78.66666666666667}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195.33333333333334,78.66666666666667}}</string>
				<key>sourceSize</key>
				<string>{195,78}</string>
			</dict>
			<key>lcoc_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{198.33333333333334,1},{213.33333333333334,83.33333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{213.33333333333334,83.33333333333333}}</string>
				<key>sourceSize</key>
				<string>{213,83}</string>
			</dict>
			<key>loading_gif1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,81.66666666666667},{107.33333333333333,80.66666666666667}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107.33333333333333,80.66666666666667}}</string>
				<key>sourceSize</key>
				<string>{107,80}</string>
			</dict>
			<key>loading_gif2.png</key>
			<dict>
				<key>frame</key>
				<string>{{413.6666666666667,1},{108.66666666666667,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108.66666666666667,82}}</string>
				<key>sourceSize</key>
				<string>{108,82}</string>
			</dict>
			<key>loading_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{524.3333333333334,1},{423.3333333333333,169.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{423.3333333333333,169.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{423,169}</string>
			</dict>
			<key>play-btn-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{110.33333333333333,86.33333333333333},{138.66666666666666,90.66666666666667}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138.66666666666666,90.66666666666667}}</string>
				<key>sourceSize</key>
				<string>{138,90}</string>
			</dict>
			<key>play-btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,86.33333333333333},{138.66666666666666,90.66666666666667}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138.66666666666666,90.66666666666667}}</string>
				<key>sourceSize</key>
				<string>{138,90}</string>
			</dict>
			<key>progress_load.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,179},{928.6666666666666,17.333333333333332}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{928.6666666666666,17.333333333333332}}</string>
				<key>sourceSize</key>
				<string>{928,17}</string>
			</dict>
			<key>progress_load_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,198.33333333333334},{936,24.666666666666668}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{936,24.666666666666668}}</string>
				<key>sourceSize</key>
				<string>{936,24}</string>
			</dict>

        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{948.6666666666667, 224}</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>