<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
			<key>mountain_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{281.3333333333333,235.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{281.3333333333333,235.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{281,235}</string>
			</dict>
			<key>mountain_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,238.33333333333334},{302,233.33333333333334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,233.33333333333334}}</string>
				<key>sourceSize</key>
				<string>{302,233}</string>
			</dict>
			<key>mountain_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,1},{326.6666666666667,349.3333333333333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326.6666666666667,349.3333333333333}}</string>
				<key>sourceSize</key>
				<string>{326,349}</string>
			</dict>
			<key>mountain_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,352.3333333333333},{280,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,304}}</string>
				<key>sourceSize</key>
				<string>{280,304}</string>
			</dict>
			<key>mountain_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,473.6666666666667},{180.66666666666666,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180.66666666666666,190}}</string>
				<key>sourceSize</key>
				<string>{180,190}</string>
			</dict>

        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{632.6666666666667, 664.6666666666667}</string>
            <key>textureFileName</key>
            <string>mountain.png</string>
        </dict>
    </dict>
</plist>